input::placeholder
{
	color: #000;
}


.steps-list#invoice-tool {
    max-width: 100%;
    margin: 0 auto;
}
.steps-list #step-1 {
    overflow: hidden;
    vertical-align: middle;
}

.steps-list h2 {font-weight: bold}
.steps-list #step-1 * {float: left;}
.steps-list #step-1 h2 {padding: 5px 0 0 0;width: 300px;}
.steps-list #step-1 .invoice-type-choices {width: calc(100% - 300px);}
.steps-list #step-1 .invoice-type-choices > .custom-radio {margin: 0 10px 0 0}

.steps-list .step-item{margin-top: 10px}
.step-item .step-inputs{padding-left:0;list-style:none}
.step-item .step-inputs li{margin: 5px 0}
.step-inputs .input-desc{
    font-size: 19px;
    width: 300px;
    float: left;
    padding-top: 5px
}
.step-inputs input,
.step-inputs select
 {
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #253131;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    background-color: #338f8e;
    min-width: 300px
}
.step-inputs select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none
}

.step-inputs input:focus{outline:none}
.step-item .step-inputs li:nth-child(even) input,
.step-item .step-inputs li:nth-child(even) select{background-color: rgb(172, 230, 200)}

#main-invoice-info-steps .input-desc{width:400px}

.invoice-preview{margin: 40px 0}
.invoice-preview .inside-container{overflow-x:auto}
.invoice-preview .inside-container .img-container{position:relative;width:fit-content;margin:0 auto}
.invoice-preview .inside-container::-webkit-scrollbar{height:5px}
.invoice-preview .inside-container::-webkit-scrollbar-thumb{background:#E97132}
.invoice-preview img{display:block;margin:0 auto; width: 850px;}

/* invoice text setting */
.invoice-text{position:absolute;z-index:10;color:#E97132;font-weight:bold}
#two-section-invoice .tax-apply-check{bottom:44px;left:283px}
#two-section-invoice .tax-apply-check.zero-rate{left:409px}
#two-section-invoice .tax-apply-check.free-rate{left:527px}
#two-section-invoice .invoice-month{top:53px;left:485px;font-size:18px}
#two-section-invoice .invoice-month-numeric{top:75px;left:520px;font-size:18px}
#two-section-invoice .invoice-date-numeric{top:75px;left:567px;font-size:18px}
#two-section-invoice .invoice-single-item-price{top:185px;right:285px;font-size:20px}
#two-section-invoice .invoice-single-item-price-bottom{bottom:96px;right:285px;font-size:20px}

#two-section-invoice .invoice-single-item-price-upper{bottom:66px;overflow:hidden;left:133px;font-size:19px}
#two-section-invoice .invoice-single-item-price-upper .price{float:left;width:45px;margin-right:3px}
#two-section-invoice .invoice-single-item-price-upper .hundred-million{}
#two-section-invoice .invoice-single-item-price-upper .ten-million{}
#two-section-invoice .invoice-single-item-price-upper .one-million{}
#two-section-invoice .invoice-single-item-price-upper .hundred-thousand-million{}
#two-section-invoice .invoice-single-item-price-upper .ten-thousand{}
#two-section-invoice .invoice-single-item-price-upper .thousand{}
#two-section-invoice .invoice-single-item-price-upper .hundred{}
#two-section-invoice .invoice-single-item-price-upper .ten{}
#two-section-invoice .invoice-single-item-price-upper .unit{}

/* invoice-three-section text setting */
#three-section-invoice .tax-apply-check{bottom:119px;left:250px}
#three-section-invoice .tax-apply-check.zero-rate{left:320px}
#three-section-invoice .tax-apply-check.free-rate{left:392px}
#three-section-invoice .invoice-month{top:55px;left:450px;font-size:18px}
#three-section-invoice .invoice-month-numeric{top:110px;left:560px;font-size:18px}
#three-section-invoice .invoice-date-numeric{top:110px;left:618px;font-size:18px}
#three-section-invoice .invoice-single-item-price{top:198px;right:275px;font-size:20px}
#three-section-invoice .invoice-single-item-price-bottom{bottom:90px;right:275px;font-size:20px}
#three-section-invoice .company-name{
    top: 77px;
    left: 140px;
    font-size: 20px;
}
#three-section-invoice .company-business-id {
    font-size: 20px;
    top: 110px;
    left: 152px;
    letter-spacing: 20px;
}

#three-section-invoice .invoice-single-item-price-upper{bottom:55px;overflow:hidden;left:141px;font-size:19px}
#three-section-invoice .invoice-single-item-price-upper .price{float:left;width:46px;margin-right:3px}

#two-section-invoice .default-item{top:190px;left:50px}
#three-section-invoice .default-item{top:195px;left:70px}
#three-section-invoice .inovice-tax-total{right:275px;bottom:128px;font-size:18px}
#three-section-invoice .sale-price-subtotal{right:275px;bottom:160px;font-size:18px}
@media screen and (max-width:1200px) {
    .steps-list#invoice-tool {
        background-position:right center;
        background-size: 200px
    }
}

@media screen and (max-width:830px) {
    .steps-list#invoice-tool{background-position:right top;background-size:150px}
    .steps-list #step-1{margin-bottom:15px}
    .steps-list #step-1 * {float:none}
    .steps-list #step-1 .invoice-type-choices{width:100%;margin-top:10px}

    #main-invoice-info-steps .input-desc{width:300px}
}

@media screen and (max-width:720px) {
    .tool-title{font-size:3.5rem}
    #step-2 .step-inputs .input-desc{width:200px}
    #step-2 .step-inputs input{width:calc(100% - 250px)}
    #step-3 .step-inputs .input-desc{float:none}
    #step-3 .step-inputs input,
    #step-3 .step-inputs select{display:block;margin-top:5px;width:100%}
    .tool-tutorial{max-width:100%}
}

@media screen and (max-width:660px) {
    .steps-list#invoice-tool{background-image:none}
    .tool-title{font-size:2.5rem}
}

@media screen and (max-width:500px) {
    .steps-list #step-1 .invoice-type-choices > .custom-radio{margin:0 0 10px 0}
    .steps-list #step-1 *{width:100%}
}